<footer>
  
    <div class="f-info sticky-bottom">
      <div class="f-info-socials"> 
  <a href="https://www.linkedin.com/in/avinish-kumar66" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://avi-zoom-6-frontend.onrender.com" target="_blank" rel="noopener noreferrer">
  <i class="fa-solid fa-phone"></i>

  </a>
  <a href="https://wa.me/7061666783" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</div>
    <div>
       <a href="mailto:avinish729@gmail.com">
  <i class="fa-solid fa-envelope"></i>
   <p> avinish pvt.Ltd</p>
</a>
    </div>
    </div>
</footer>